<div class="container">
    <header >
        <div class="login-container">
            <div class="login-button">
            
                <img src="assets/icp-logo.png" class="logo" height="50px" width="50px" />
            </div>
        </div>
      
    </header>
    
    <div style="text-align: center; margin: 20px;">
        <h2>Email linking Soon</h2>
        <h2>Organization Setup Soon</h2>
        <h2>Website Paths Soon</h2>
  
      <div style="text-align: left;">
          <div class="roadmap-section">
              <h3>Early Access to future features</h3>
              <p>When you sign in with your Internet Identity you will also get logged for being a early access user. As a early access user your organization will get early access to future updates!</p>
              <h3>Early Users Multiplier</h3>
              <p>Your status as a early access user gives you an additional <strong>Multiplier</strong> for the token fountain!</p>
          </div>

      </div>
    </div>
  </div>
  