<div class="container">
  <header style="text-align: center">
    <img src="assets/icp-logo.png" class="logo" height="100px" width="100px" />
  </header>
  <div style="text-align: left; margin: 20px;">
    <p>
        Welcome to 3RP.io, the pioneer in fully decentralized enterprise solutions.
        Our journey began with an initial CRM application 3RM.io on the AVAX platform, where we
        gained invaluable insights. Recognizing the limitations of existing
        technology in meeting our high standards for public offerings, we have
        expanded our horizons. 
      </p>
      <p>
        Our mission now is to facilitate the integration of
        businesses of all sizes—from small startups to large-scale legacy
        systems—into the transformative world of decentralization, utilizing the
        advanced capabilities of the ICP platform. Discover the future of enterprise
        with 3RP.io.
      </p>
  </div>
  <div style="text-align: left; margin: 20px;">
    <h2>Roadmap: All tokens will be distributed for free. Our philosophy is that the market will decide our value</h2>

    <div>
        <div class="roadmap-section">
            <h3>1. Token Airdrop to Motoko Ghost Holders</h3>
            <p>Initiating our roadmap, we will commence with an exclusive airdrop of tokens, dedicating 30% of the total allocation to Motoko Ghost Holders. This strategic move is designed to reward our early supporters and stakeholders, recognizing their pivotal role in our journey.</p>
        </div>

        <div class="roadmap-section">
            <h3>2. Public Fountain Token Distribution</h3>
            <p>Following the airdrop, we will launch a Public Fountain for token distribution, earmarking 70% of our total token allocation for this phase. This inclusive initiative is structured to ensure a broad and equitable distribution, incorporating a single wallet limitation to foster widespread participation. Additionally, as a gesture of our continued commitment to the Motoko Ghost community, holders will receive bonus tokens, further enhancing their engagement and investment in our ecosystem.</p>
        </div>
    </div>
  </div>
</div>
